@font-face {
  font-family: "pretendard";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: local("Pretendard GOV Variable"), url("../fonts/PretendardGOVVariable.woff2") format("woff2-variations");
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

table {
  width: 100%;
  table-layout: fixed;
}
table,
table tr {
  border-collapse: inherit;
}
table,
table tr,
table td,
table th,
table thead,
table tbody,
table tfoot,
table caption {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  vertical-align: baseline;
  text-decoration: none;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h1,
div,
p,
span,
i,
em,
b,
strong,
ul,
ol,
li,
dl,
dt,
dd,
img,
button,
a,
table,
tr,
th,
td,
thead,
tbody,
tfoot,
header,
footer,
nav,
aside,
main,
article,
section,
hgroup,
details,
figure,
figcaption,
mark,
time,
address,
input,
label,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "pretendard", "malgun gothic", "Dotum", sans-serif;
  line-height: 1;
  box-sizing: border-box;
}

button:not(:disabled) {
  background-color: transparent;
  cursor: pointer;
}

.input-checkbox, .input-radio {
  position: relative;
}
.input-checkbox input, .input-radio input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 10;
}
.input-checkbox input[type=checkbox] + .input-text .icon, .input-radio input[type=checkbox] + .input-text .icon {
  border-radius: 2px;
}
.input-checkbox input[type=checkbox] + .input-text .icon::after, .input-radio input[type=checkbox] + .input-text .icon::after {
  width: 100%;
  height: 100%;
  background-image: url("../images/ico/checkbox-white.svg");
}
.input-checkbox input[type=checkbox]:checked:not(:disabled) + .input-text .icon, .input-radio input[type=checkbox]:checked:not(:disabled) + .input-text .icon {
  background-color: #1d6ceb;
}
.input-checkbox input[type=checkbox]:checked:disabled + .input-text .icon::after, .input-radio input[type=checkbox]:checked:disabled + .input-text .icon::after {
  background-image: url("../images/ico/checkbox-gray.svg");
}
.input-checkbox input[type=radio] + .input-text .icon, .input-radio input[type=radio] + .input-text .icon {
  border-radius: 30px;
}
.input-checkbox input[type=radio] + .input-text .icon::after, .input-radio input[type=radio] + .input-text .icon::after {
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  background-color: #1d6ceb;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}
.input-checkbox input[type=radio]:checked:not(:disabled) + .input-text .icon, .input-radio input[type=radio]:checked:not(:disabled) + .input-text .icon {
  background-color: #ffffff;
}
.input-checkbox input[type=radio]:checked:disabled + .input-text .icon::after, .input-radio input[type=radio]:checked:disabled + .input-text .icon::after {
  background-color: #dcdcdc;
}
.input-checkbox input:checked:not(:disabled) + .input-text .icon, .input-radio input:checked:not(:disabled) + .input-text .icon {
  background-color: #f2f2f2;
  border-color: #1d6ceb;
}
.input-checkbox input:checked:not(:disabled) + .input-text .icon::after, .input-radio input:checked:not(:disabled) + .input-text .icon::after {
  display: block;
}
.input-checkbox input:disabled + .input-text .icon, .input-radio input:disabled + .input-text .icon {
  background-color: #f2f2f2;
  border-color: #dcdcdc;
}
.input-checkbox input:disabled + .input-text .text, .input-radio input:disabled + .input-text .text {
  color: #bfbfbf;
}
.input-checkbox input:disabled:checked + .input-text .icon::after, .input-radio input:disabled:checked + .input-text .icon::after {
  display: block;
}
.input-checkbox .input-text, .input-radio .input-text {
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 6px;
  z-index: 5;
}
.input-checkbox .input-text .icon, .input-radio .input-text .icon {
  flex-shrink: 0;
  flex-grow: 0;
  position: relative;
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
}
.input-checkbox .input-text .icon::after, .input-radio .input-text .icon::after {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  border-radius: 18px;
  content: "";
}
.input-checkbox .input-text .text, .input-radio .input-text .text {
  color: #353535;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

header .header__left .header__logo .logo, .ico-24, .ico-22, .input-text .box .input-btn button:not([class*=ico-]),
.input-text .box .input-btn a:not([class*=ico-]), .dropdown--select::after, .input-checkbox input[type=checkbox] + .input-text .icon::after, .input-radio input[type=checkbox] + .input-text .icon::after {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: transparent;
  font-size: 0;
}

header .header__left .header__logo .logo, .ico-24, .ico-22, .input-text .box .input-btn button:not([class*=ico-]),
.input-text .box .input-btn a:not([class*=ico-]), .dropdown--select::after {
  background-color: transparent;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: transparent;
  font-size: 0;
}

.ico-24 {
  display: inline-block;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.ico-22 {
  display: inline-block;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}

.ico-search-black {
  background-image: url("../images/ico/search-black.svg");
}

.ico-pw-off-black {
  background-image: url("../images/ico/pw-off-black.svg");
}

.ico-pw-on-black {
  background-image: url("../images/ico/pw-on-black.svg");
}

.ico-combo-arrow-black {
  background-image: url("../images/ico/combo-arrow-black.svg");
}

.ico-calendar-black {
  background-image: url("../images/ico/calendar-black.svg");
}

.ico-arrow-right-black {
  background-image: url("../images/ico/arrow-right-black.svg");
}

.ico-more-black {
  background-image: url("../images/ico/more-black.svg");
}

.ico-page-first-black {
  background-image: url("../images/ico/page-first-black.svg");
}

.ico-page-last-black {
  background-image: url("../images/ico/page-last-black.svg");
}

.ico-page-prev-black {
  background-image: url("../images/ico/page-prev-black.svg");
}

.ico-page-next-black {
  background-image: url("../images/ico/page-next-black.svg");
}

.ico-close-black {
  background-image: url("../images/ico/close-black.svg");
}

.ico-product-name-blue {
  background-image: url("../images/ico/product-name-blue.svg");
}

.ico-logo-family-blue {
  background-image: url("../images/ico/logo-family-blue.svg");
}

.ico-logo-blue {
  background-image: url("../images/ico/logo-blue.svg");
}

.ico-pw-on-blue {
  background-image: url("../images/ico/pw-on-blue.svg");
}

.ico-pw-off-blue {
  background-image: url("../images/ico/pw-off-blue.svg");
}

.ico-combo-arrow-blue {
  background-image: url("../images/ico/combo-arrow-blue.svg");
}

.ico-calendar-blue {
  background-image: url("../images/ico/calendar-blue.svg");
}

.ico-arrow-right-blue {
  background-image: url("../images/ico/arrow-right-blue.svg");
}

.ico-more-blue {
  background-image: url("../images/ico/more-blue.svg");
}

.ico-search-gray {
  background-image: url("../images/ico/search-gray.svg");
}

.ico-logo-gray {
  background-image: url("../images/ico/logo-gray.svg");
}

.ico-checkbox-gray {
  background-image: url("../images/ico/checkbox-gray.svg");
}

.ico-remove-gray {
  background-image: url("../images/ico/remove-gray.svg");
}

.ico-pw-on-gray {
  background-image: url("../images/ico/pw-on-gray.svg");
}

.ico-pw-off-gray {
  background-image: url("../images/ico/pw-off-gray.svg");
}

.ico-combo-arrow-gray {
  background-image: url("../images/ico/combo-arrow-gray.svg");
}

.ico-calendar-gray {
  background-image: url("../images/ico/calendar-gray.svg");
}

.ico-arrow-right-gray {
  background-image: url("../images/ico/arrow-right-gray.svg");
}

.ico-more-gray {
  background-image: url("../images/ico/more-gray.svg");
}

.ico-page-first-gray {
  background-image: url("../images/ico/page-first-gray.svg");
}

.ico-page-last-gray {
  background-image: url("../images/ico/page-last-gray.svg");
}

.ico-page-prev-gray {
  background-image: url("../images/ico/page-prev-gray.svg");
}

.ico-page-next-gray {
  background-image: url("../images/ico/page-next-gray.svg");
}

.ico-pw-on-red {
  background-image: url("../images/ico/pw-on-red.svg");
}

.ico-pw-off-red {
  background-image: url("../images/ico/pw-off-red.svg");
}

.ico-combo-arrow-red {
  background-image: url("../images/ico/combo-arrow-red.svg");
}

.ico-calendar-red {
  background-image: url("../images/ico/calendar-red.svg");
}

.ico-arrow-right-red {
  background-image: url("../images/ico/arrow-right-red.svg");
}

.ico-more-red {
  background-image: url("../images/ico/more-red.svg");
}

.ico-logo-white {
  background-image: url("../images/ico/logo-white.svg");
}

.ico-search-white {
  background-image: url("../images/ico/search-white.svg");
}

.ico-checkbox-white {
  background-image: url("../images/ico/checkbox-white.svg");
}

.ico-calendar-white {
  background-image: url("../images/ico/calendar-white.svg");
}

.ico-arrow-right-white {
  background-image: url("../images/ico/arrow-right-white.svg");
}

.ico-more-white {
  background-image: url("../images/ico/more-white.svg");
}

.ico-logo-symbol1 {
  background-image: url("../images/ico/logo-symbol1.svg");
}

.ico-logo-symbol2 {
  background-image: url("../images/ico/logo-symbol2.svg");
}

.btn {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 75px;
  min-height: 34px;
  padding: 7.5px 11px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  background-color: transparent;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  outline: none;
}
.btn.is--blue {
  background-color: #1d6ceb;
  border-color: #1d6ceb;
  color: #ffffff;
}
.btn.is--blue:active {
  background-color: #005ba5;
  border-color: #005ba5;
}
.btn.is--blue:disabled {
  color: #bfbfbf;
  background-color: #f2f2f2;
  border-color: #dcdcdc;
}
.btn.is--red {
  background-color: #ff4555;
  border-color: #ff4555;
  color: #ffffff;
}
.btn.is--red:active {
  background-color: #cc3744;
  border-color: #cc3744;
}
.btn.is--red:disabled {
  color: #bfbfbf;
  background-color: #f2f2f2;
  border-color: #dcdcdc;
}
.btn.is--white {
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  color: #353535;
}
.btn.is--white:active {
  background-color: #dcdcdc;
  border-color: #b0b0b0;
}
.btn.is--white:disabled {
  color: #bfbfbf;
  background-color: #f2f2f2;
}
.btn.is--large {
  min-height: 44px;
  font-size: 18px;
  line-height: 21px;
}
.btn.is--search {
  flex-shrink: 0;
  flex-grow: 0;
  width: 80px;
  height: 54px;
  font-weight: 500;
  font-size: 18px;
}
.btn.is--search [class*=ico-] {
  width: 22px;
  height: 22px;
  margin-right: 2px;
}
.btn.is--search.is--white {
  color: #353535;
}
.btn.is--state {
  height: 60px;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
}
.btn.is--state.is--blue, .btn.is--state.is--blue:active {
  background-color: #ffffff;
  border: 1px solid #1d6ceb;
  color: #1d6ceb;
}
.btn.is--state.is--white, .btn.is--state.is--white:active {
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  color: #353535;
}
.btn.is--state.active, .btn.is--state.active:active {
  background-color: #1d6ceb;
  color: #ffffff;
}
.btn.is--state.disabled, .btn.is--state.disabled:active, .btn.is--state:disabled, .btn.is--state:disabled:active {
  background-color: #f2f2f2;
  border-color: #dcdcdc;
  color: #bfbfbf;
}
.btn.is--px25 {
  padding-right: 25px;
  padding-left: 25px;
}
.btn.is--w160 {
  width: 160px;
}
.btn.is--w220 {
  width: 220px;
}
.btn.is--w328 {
  width: 328px;
}
.btn.is--full {
  width: 100%;
}
.btn.has--ico [class*=ico-] {
  margin-left: -8px;
}

.input-text {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.input-text input {
  display: block;
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #dcdcdc;
  border-radius: 2px;
  color: #353535;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  outline: none;
}
.input-text input::placeholder {
  color: #c4c4c4;
}
.input-text input::-moz-placeholder {
  color: #c4c4c4;
}
.input-text input::-webkit-input-placeholder {
  color: #c4c4c4;
}
.input-text input:focus:not(:disabled) {
  border-color: #1d6ceb;
}
.input-text input:disabled {
  background-color: #f2f2f2;
  border-color: #dcdcdc;
}
.input-text .box {
  position: relative;
  width: 100%;
  height: 100%;
}
.input-text .box.has--button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}
.input-text .box.has--button input {
  position: relative;
  width: 100%;
  z-index: 5;
}
.input-text .box.has--button.single input {
  padding-right: 47px;
}
.input-text .box.has--button.double input {
  padding-right: 78px;
}
.input-text .box input {
  height: 100%;
}
.input-text .box input:focus:not(:disabled) + .input-btn .pw-action.show {
  background-image: url("../images/ico/pw-on-blue.svg");
}
.input-text .box input:focus:not(:disabled) + .input-btn .pw-action.hide {
  background-image: url("../images/ico/pw-off-blue.svg");
}
.input-text .box input:focus:not(:disabled) + .input-btn .pw-search {
  background-image: url("../images/ico/search-blue.svg");
}
.input-text .box input:disabled + .input-btn .pw-action.show {
  background-image: url("../images/ico/pw-on-gray.svg");
}
.input-text .box input:disabled + .input-btn .pw-action.hide {
  background-image: url("../images/ico/pw-off-gray.svg");
}
.input-text .box input:disabled + .input-btn .pw-search {
  background-image: url("../images/ico/search-gray.svg");
}
.input-text .box .input-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  gap: 7px;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  z-index: 10;
}
.input-text .box .input-btn button:not([class*=ico-]),
.input-text .box .input-btn a:not([class*=ico-]) {
  width: 24px;
  height: 24px;
}
.input-text .box .input-btn .pw-action.show {
  background-image: url("../images/ico/pw-on-black.svg");
}
.input-text .box .input-btn .pw-action.hide {
  background-image: url("../images/ico/pw-of-black.svg");
}
.input-text .box .input-btn .pw-remove:not([class*=ico-]) {
  width: 20px;
  height: 20px;
  background-image: url("../images/ico/remove-gray.svg");
  background-size: 20px;
}
.input-text .box .input-btn .pw-search:not([class*=ico-]) {
  width: 28px;
  height: 28px;
  background-image: url("../images/ico/search-black.svg");
  background-size: 28px;
}
.input-text .valid,
.input-text .desc {
  display: none;
  font-size: 15px;
  line-height: 18px;
}
.input-text .desc {
  display: block;
  color: #7f7f7f;
}
.input-text.pass input:not(:disabled), .input-text.focus input:not(:disabled) {
  border-color: #1d6ceb;
}
.input-text.err input:not(:disabled) {
  border-color: #ff4555;
}
.input-text.disabled input {
  background-color: #f2f2f2;
  border-color: #dcdcdc;
}
.input-text.disabled input + .pw.show {
  background-image: url("../images/ico/pw-on-gray.svg");
}
.input-text.disabled input + .pw.hide {
  background-image: url("../images/ico/pw-off-gray.svg");
}
.input-text.pass .valid, .input-text.err .valid {
  display: block;
}
.input-text.pass .valid {
  color: #1d6ceb;
}
.input-text.err .valid {
  color: #ff4555;
}
.input-text.is--large {
  height: 50px;
}
.input-text.is--large .box.has--button.single input {
  padding-right: 50px;
}
.input-text.is--large .box.has--button.double input {
  padding-right: 84px;
}
.input-text.is--large .box .pw-btn {
  right: 16px;
  gap: 10px;
}
.input-text.is--large .box .pw-btn button,
.input-text.is--large .box .pw-btn a {
  width: 24px;
  height: 24px;
}
.input-text.is--large .box .pw-btn .pw-remove {
  width: 20px;
  height: 20px;
  background-image: url("../images/ico/remove-gray.svg");
  background-size: 20px;
}
.input-text.is--large .box input {
  padding-right: 16px;
  padding-left: 16px;
  font-size: 18px;
  line-height: 21px;
}
.input-checkbox .input-text {
  align-items: center;
}
.input-toggle {
  position: relative;
}
.input-toggle input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 10;
}
.input-toggle input + .input-text .icon::after {
  right: auto;
  left: 0;
}
.input-toggle input:checked + .input-text .icon::after {
  right: 0;
  left: auto;
}
.input-toggle input:checked:not(:disabled) + .input-text .icon {
  background-color: #1d6ceb;
}
.input-toggle input:disabled + .input-text .icon {
  background-color: #f2f2f2;
}
.input-toggle .input-text {
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 6px;
  z-index: 5;
}
.input-toggle .input-text .icon {
  flex-shrink: 0;
  flex-grow: 0;
  position: relative;
  width: 50px;
  height: 24px;
  background-color: #262626;
  border-radius: 24px;
}
.input-toggle .input-text .icon::after {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  margin-top: 2px;
  margin-right: 2px;
  margin-left: 2px;
  background-color: #ffffff;
  border-radius: 20px;
  content: "";
}
.input-toggle .input-text .text {
  color: #353535;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.input-radio .input-text {
  align-items: center;
}
.input-box {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  gap: 6px;
}
.input-box div:not([class*="--fixed"]),
.input-box p:not([class*="--fixed"]),
.input-box input:not([class*="--fixed"]) {
  flex-shrink: 1;
  flex-grow: 1;
}
.input-box--fixed {
  flex-shrink: 0;
  flex-grow: 0;
}
.input-box--title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 16px;
  color: #353535;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.input-box.is--large {
  height: 50px;
}
.input-box.is--double {
  display: grid;
  grid-template-columns: auto 17px auto;
  gap: 0;
  max-width: 100%;
}
.input-box.is--double .input-desc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #646464;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.input-box.disabled .input-box--title {
  color: #bfbfbf;
}

.dropdown--select {
  position: relative;
  width: 100%;
  height: 34px;
  padding: 7.5px 9px;
  padding-right: 34px;
  border: 1px solid #dcdcdc;
  border-radius: 2px;
}
.dropdown--select span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  color: #353535;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  line-height: 17px;
}
.dropdown--select::after {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  background-image: url("../images/ico/combo-arrow-black.svg");
  content: "";
}
.dropdown--select:disabled {
  background-color: #f2f2f2;
}
.dropdown--select:disabled,
.dropdown--select:disabled span {
  color: #bfbfbf;
}
.dropdown--select:disabled::after {
  background-image: url("../images/ico/combo-arrow-gray.svg");
}
.dropdown--box {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0;
  position: absolute;
  display: none;
  width: 100%;
  top: 100%;
  left: 0;
  padding-top: 8px;
  padding-bottom: 12px;
  margin-top: 6px;
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 2px;
}
.dropdown--box > a,
.dropdown--box > button {
  padding: 7px 9px;
  color: #646464;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  line-height: 17px;
}
.dropdown--box > a:hover,
.dropdown--box > button:hover {
  background-color: #f6f6f6;
}
.dropdown--box > a.active,
.dropdown--box > button.active {
  color: #1d6ceb;
}
.dropdown--area {
  position: relative;
}
.dropdown--area.open {
  z-index: 30;
}
.dropdown--area.open .dropdown--select {
  border-color: #1d6ceb;
}
.dropdown--area.open .dropdown--select::after {
  background-image: url("../images/ico/combo-arrow-blue.svg");
}
.dropdown--area.open .dropdown--box {
  display: flex;
}

.search--box {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0;
  border-bottom: 1px solid #dcdcdc;
}
.search--title {
  padding: 30px 30px 0;
  color: #000000;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
}
.search--contents {
  flex-wrap: nowrap;
  padding: 20px 30px 0;
}
.search--contents:last-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}
.search--contents .input-text {
  flex-direction: row;
}
.search--contents .input-text .text {
  font-size: 16px;
  font-weight: 500;
}
.search--items {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
}
.search--row {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
}
.search--row .input-box--title {
  margin-right: 6px;
  justify-content: flex-end;
}
.search--row > .input-box {
  width: 245px;
}

.tab-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0;
}
.tab-text button,
.tab-text a {
  width: 160px;
  height: 46px;
  padding-top: 2px;
  border-bottom: 2px solid #dcdcdc;
  color: #353535;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
.tab-text button.active,
.tab-text a.active {
  padding-top: 4px;
  border-bottom: 4px solid #1d6ceb;
  color: #1d6ceb;
  font-weight: 700;
}

.layer--area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.layer--area, .layer--area::after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.layer--area::after {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  content: "";
}
.layer--box {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 30px;
  position: relative;
  padding: 30px;
  background-color: #ffffff;
  z-index: 10;
}
.layer--header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.layer--header__title {
  color: #000000;
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
}
.layer--buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 10px;
}
.layer--buttons .btn {
  height: 44px;
}

/*---------------------------------------- LAYOUT ----------------------------------------*/
.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #ebebeb;
}
.wrap.login {
  height: 100%;
  background-color: #ffffff;
}
.wrap.login .contents--box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrap.login .container,
.wrap.login .contents--box {
  height: 100%;
}
.wrap.set {
  background-color: #ffffff;
}

.container {
  padding: 8px;
}

/*--------------- HEADER ---------------*/
header {
  position: relative;
  padding-right: 25px;
  padding-left: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .header__right, header .header__left {
  position: relative;
  height: 57px;
  z-index: 10;
}
header::before {
  position: absolute;
  width: 100%;
  height: 57px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-bottom: 1px solid #dcdcdc;
  z-index: 5;
  content: "";
}
header::after {
  position: absolute;
  display: none;
  width: 100%;
  height: 177px;
  top: 57px;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.15);
  z-index: 3;
  content: "";
}
header .header__left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .header__left .header__logo {
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 260px;
  gap: 8px;
}
header .header__left .header__logo .logo {
  width: 42px;
  height: 16px;
  background-image: url("../images/ico/logo-blue.svg");
}
header .header__left .header__logo .text {
  color: #1d6ceb;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}
header .header__left .header__menu {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 90px;
}
header .header__left .header__menu > a,
header .header__left .header__menu .depth1 > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 57px;
  padding: 2px 0;
  color: #000000;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  text-align: center;
}
header .header__left .header__menu > a.active,
header .header__left .header__menu .depth1 > a.active {
  border-bottom: 2px solid #1d6ceb;
}
header .header__left .header__menu .depth1 {
  position: relative;
}
header .header__right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
header .header__right--text {
  color: #646464;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
}
header .header__depth2 {
  display: flex;
  flex-direction: column;
  position: absolute;
  display: none;
  gap: 17px;
  padding-top: 26px;
}
header .header__depth2 a {
  color: #353535;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  white-space: nowrap;
}
header .header__depth2 a.active {
  color: #1d6ceb;
}
header.hover::after {
  display: block;
}
header.hover .header__depth2 {
  display: flex;
}