@font-face {
  font-family: "pretendard";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: local("Pretendard GOV Variable"), url("../fonts/PretendardGOVVariable.woff2") format("woff2-variations");
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

table {
  width: 100%;
  table-layout: fixed;
}
table,
table tr {
  border-collapse: inherit;
}
table,
table tr,
table td,
table th,
table thead,
table tbody,
table tfoot,
table caption {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  vertical-align: baseline;
  text-decoration: none;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h1,
div,
p,
span,
i,
em,
b,
strong,
ul,
ol,
li,
dl,
dt,
dd,
img,
button,
a,
table,
tr,
th,
td,
thead,
tbody,
tfoot,
header,
footer,
nav,
aside,
main,
article,
section,
hgroup,
details,
figure,
figcaption,
mark,
time,
address,
input,
textarea,
label,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "pretendard", "malgun gothic", "Dotum", sans-serif;
  line-height: 1;
  box-sizing: border-box;
}

button:not(:disabled) {
  background-color: transparent;
  cursor: pointer;
}

.input-checkbox, .input-radio {
  position: relative;
}
.input-checkbox input, .input-radio input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 10;
}
.input-checkbox input[type=checkbox] + .input-text .icon, .input-radio input[type=checkbox] + .input-text .icon {
  border-radius: 2px;
}
.input-checkbox input[type=checkbox] + .input-text .icon::after, .input-radio input[type=checkbox] + .input-text .icon::after {
  width: 100%;
  height: 100%;
  background-image: url("../images/ico/checkbox-white.svg");
}
.input-checkbox input[type=checkbox]:checked:not(:disabled) + .input-text .icon, .input-radio input[type=checkbox]:checked:not(:disabled) + .input-text .icon {
  background-color: #1d6ceb;
}
.input-checkbox input[type=checkbox]:checked:disabled + .input-text .icon::after, .input-radio input[type=checkbox]:checked:disabled + .input-text .icon::after {
  background-image: url("../images/ico/checkbox-gray.svg");
}
.input-checkbox input[type=radio] + .input-text .icon, .input-radio input[type=radio] + .input-text .icon {
  border-radius: 30px;
}
.input-checkbox input[type=radio] + .input-text .icon::after, .input-radio input[type=radio] + .input-text .icon::after {
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  background-color: #1d6ceb;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}
.input-checkbox input[type=radio]:checked:not(:disabled) + .input-text .icon, .input-radio input[type=radio]:checked:not(:disabled) + .input-text .icon {
  background-color: #ffffff;
}
.input-checkbox input[type=radio]:checked:disabled + .input-text .icon::after, .input-radio input[type=radio]:checked:disabled + .input-text .icon::after {
  background-color: #dcdcdc;
}
.input-checkbox input:checked:not(:disabled) + .input-text .icon, .input-radio input:checked:not(:disabled) + .input-text .icon {
  background-color: #f2f2f2;
  border-color: #1d6ceb;
}
.input-checkbox input:checked:not(:disabled) + .input-text .icon::after, .input-radio input:checked:not(:disabled) + .input-text .icon::after {
  display: block;
}
.input-checkbox input:disabled + .input-text .icon, .input-radio input:disabled + .input-text .icon {
  background-color: #f2f2f2;
  border-color: #dcdcdc;
}
.input-checkbox input:disabled + .input-text .text, .input-radio input:disabled + .input-text .text {
  color: #bfbfbf;
}
.input-checkbox input:disabled:checked + .input-text .icon::after, .input-radio input:disabled:checked + .input-text .icon::after {
  display: block;
}
.input-checkbox .input-text, .input-radio .input-text {
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 6px;
  z-index: 5;
}
.input-checkbox .input-text .icon, .input-radio .input-text .icon {
  flex-shrink: 0;
  flex-grow: 0;
  position: relative;
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
}
.input-checkbox .input-text .icon::after, .input-radio .input-text .icon::after {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  border-radius: 18px;
  content: "";
}
.input-checkbox .input-text .text, .input-radio .input-text .text {
  color: #353535;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

header .header__left .header__logo .logo, .datepicker table thead tr th.prev, .datepicker table thead tr th.next, .ico-24, .ico-22, .ico-16, .input-text .box .input-btn button:not([class*=ico-]),
.input-text .box .input-btn a:not([class*=ico-]),
.input-text .box .date-button button:not([class*=ico-]),
.input-text .box .date-button a:not([class*=ico-]), .dropdown--select::after, .toggle--btn::after, .page--area .page.is--first, .page--area .page.is--prev, .page--area .page.is--next, .page--area .page.is--last, .input-checkbox input[type=checkbox] + .input-text .icon::after, .input-radio input[type=checkbox] + .input-text .icon::after {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: transparent;
  font-size: 0;
}

.gap-6.box--row, .gap-6.box--column, .gap-6.box--grid, .gap-6.box--center, .gap-6.edit--contents {
  gap: 6px;
}
.gap-10.box--row, .gap-10.box--column, .gap-10.box--grid, .gap-10.box--center, .gap-10.edit--contents {
  gap: 10px;
}
.gap-12.box--row, .gap-12.box--column, .gap-12.box--grid, .gap-12.box--center, .gap-12.edit--contents {
  gap: 12px;
}
.gap-18.box--row, .gap-18.box--column, .gap-18.box--grid, .gap-18.box--center, .gap-18.edit--contents {
  gap: 18px;
}
.gap-20.box--row, .gap-20.box--column, .gap-20.box--grid, .gap-20.box--center, .gap-20.edit--contents {
  gap: 20px;
}

header .header__left .header__logo .logo, .datepicker table thead tr th.prev, .datepicker table thead tr th.next, .ico-24, .ico-22, .ico-16, .input-text .box .input-btn button:not([class*=ico-]),
.input-text .box .input-btn a:not([class*=ico-]),
.input-text .box .date-button button:not([class*=ico-]),
.input-text .box .date-button a:not([class*=ico-]), .dropdown--select::after, .toggle--btn::after, .page--area .page.is--first, .page--area .page.is--prev, .page--area .page.is--next, .page--area .page.is--last {
  background-color: transparent;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: transparent;
  font-size: 0;
}

.input-text.date-layer .calendar--timer .dropdown--box::-webkit-scrollbar {
  width: 7px;
}
.input-text.date-layer .calendar--timer .dropdown--box::-webkit-scrollbar-button:start:decrement, .input-text.date-layer .calendar--timer .dropdown--box::-webkit-scrollbar-button:end:increment {
  display: block;
  width: 0;
  height: 0;
}
.input-text.date-layer .calendar--timer .dropdown--box::-webkit-scrollbar-track {
  background: transparent;
}
.input-text.date-layer .calendar--timer .dropdown--box::-webkit-scrollbar-thumb {
  border: 2px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  background-color: #cccccc;
  border-radius: 6px;
}

.ico-24 {
  display: inline-block;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.ico-22 {
  display: inline-block;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
.ico-16 {
  display: inline-block;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.ico-search-black {
  background-image: url("../images/ico/search-black.svg");
}

.ico-pw-off-black {
  background-image: url("../images/ico/pw-off-black.svg");
}

.ico-pw-on-black {
  background-image: url("../images/ico/pw-on-black.svg");
}

.ico-combo-arrow-black {
  background-image: url("../images/ico/combo-arrow-black.svg");
}

.ico-calendar-black {
  background-image: url("../images/ico/calendar-black.svg");
}

.ico-arrow-right-black {
  background-image: url("../images/ico/arrow-right-black.svg");
}

.ico-more-black {
  background-image: url("../images/ico/more-black.svg");
}

.ico-page-first-black {
  background-image: url("../images/ico/page-first-black.svg");
}

.ico-page-last-black {
  background-image: url("../images/ico/page-last-black.svg");
}

.ico-page-prev-black {
  background-image: url("../images/ico/page-prev-black.svg");
}

.ico-page-next-black {
  background-image: url("../images/ico/page-next-black.svg");
}

.ico-close-black {
  background-image: url("../images/ico/close-black.svg");
}

.ico-file-black {
  background-image: url("../images/ico/file-black.svg");
}

.ico-clock-black {
  background-image: url("../images/ico/clock-black.svg");
}

.ico-product-name-blue {
  background-image: url("../images/ico/product-name-blue.svg");
}

.ico-logo-family-blue {
  background-image: url("../images/ico/logo-family-blue.svg");
}

.ico-logo-blue {
  background-image: url("../images/ico/logo-blue.svg");
}

.ico-pw-on-blue {
  background-image: url("../images/ico/pw-on-blue.svg");
}

.ico-pw-off-blue {
  background-image: url("../images/ico/pw-off-blue.svg");
}

.ico-combo-arrow-blue {
  background-image: url("../images/ico/combo-arrow-blue.svg");
}

.ico-calendar-blue {
  background-image: url("../images/ico/calendar-blue.svg");
}

.ico-arrow-right-blue {
  background-image: url("../images/ico/arrow-right-blue.svg");
}

.ico-more-blue {
  background-image: url("../images/ico/more-blue.svg");
}

.ico-file-blue {
  background-image: url("../images/ico/file-blue.svg");
}

.ico-search-gray {
  background-image: url("../images/ico/search-gray.svg");
}

.ico-logo-gray {
  background-image: url("../images/ico/logo-gray.svg");
}

.ico-checkbox-gray {
  background-image: url("../images/ico/checkbox-gray.svg");
}

.ico-remove-gray {
  background-image: url("../images/ico/remove-gray.svg");
}

.ico-pw-on-gray {
  background-image: url("../images/ico/pw-on-gray.svg");
}

.ico-pw-off-gray {
  background-image: url("../images/ico/pw-off-gray.svg");
}

.ico-combo-arrow-gray {
  background-image: url("../images/ico/combo-arrow-gray.svg");
}

.ico-calendar-gray {
  background-image: url("../images/ico/calendar-gray.svg");
}

.ico-arrow-right-gray {
  background-image: url("../images/ico/arrow-right-gray.svg");
}

.ico-more-gray {
  background-image: url("../images/ico/more-gray.svg");
}

.ico-page-first-gray {
  background-image: url("../images/ico/page-first-gray.svg");
}

.ico-page-last-gray {
  background-image: url("../images/ico/page-last-gray.svg");
}

.ico-page-prev-gray {
  background-image: url("../images/ico/page-prev-gray.svg");
}

.ico-page-next-gray {
  background-image: url("../images/ico/page-next-gray.svg");
}

.ico-pw-on-red {
  background-image: url("../images/ico/pw-on-red.svg");
}

.ico-pw-off-red {
  background-image: url("../images/ico/pw-off-red.svg");
}

.ico-combo-arrow-red {
  background-image: url("../images/ico/combo-arrow-red.svg");
}

.ico-calendar-red {
  background-image: url("../images/ico/calendar-red.svg");
}

.ico-arrow-right-red {
  background-image: url("../images/ico/arrow-right-red.svg");
}

.ico-more-red {
  background-image: url("../images/ico/more-red.svg");
}

.ico-logo-white {
  background-image: url("../images/ico/logo-white.svg");
}

.ico-search-white {
  background-image: url("../images/ico/search-white.svg");
}

.ico-checkbox-white {
  background-image: url("../images/ico/checkbox-white.svg");
}

.ico-calendar-white {
  background-image: url("../images/ico/calendar-white.svg");
}

.ico-arrow-right-white {
  background-image: url("../images/ico/arrow-right-white.svg");
}

.ico-more-white {
  background-image: url("../images/ico/more-white.svg");
}

.ico-up-white {
  background-image: url("../images/ico/up-white.svg");
}

.ico-logo-symbol1 {
  background-image: url("../images/ico/logo-symbol1.svg");
}

.ico-logo-symbol2 {
  background-image: url("../images/ico/logo-symbol2.svg");
}

.btn {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 75px;
  min-height: 34px;
  padding: 7.5px 13px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  background-color: transparent;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  outline: none;
}
.btn.is--blue {
  background-color: #1d6ceb;
  border-color: #1d6ceb;
  color: #ffffff;
}
.btn.is--blue:active {
  background-color: #005ba5;
  border-color: #005ba5;
}
.btn.is--blue:disabled {
  color: #bfbfbf;
  background-color: #f2f2f2;
  border-color: #dcdcdc;
}
.btn.is--blue.line {
  background-color: #ffffff;
  color: #1d6ceb;
}
.btn.is--red {
  background-color: #ff4555;
  border-color: #ff4555;
  color: #ffffff;
}
.btn.is--red:active {
  background-color: #cc3744;
  border-color: #cc3744;
}
.btn.is--red:disabled {
  color: #bfbfbf;
  background-color: #f2f2f2;
  border-color: #dcdcdc;
}
.btn.is--red.line {
  background-color: #ffffff;
  color: #ff4555;
}
.btn.is--white {
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  color: #353535;
}
.btn.is--white:active {
  background-color: #dcdcdc;
  border-color: #b0b0b0;
}
.btn.is--white:disabled {
  color: #bfbfbf;
  background-color: #f2f2f2;
}
.btn.is--transparent {
  background-color: transparent;
  border: transparent;
}
.btn.is--large {
  min-height: 44px;
  font-size: 18px;
  line-height: 21px;
}
.btn.is--search {
  flex-shrink: 0;
  flex-grow: 0;
  width: 80px;
  height: 54px;
  font-weight: 500;
  font-size: 18px;
}
.btn.is--search [class*=ico-] {
  width: 22px;
  height: 22px;
  margin-right: 2px;
}
.btn.is--search.is--white {
  color: #353535;
}
.btn.is--state {
  height: 60px;
  padding-right: 0;
  padding-left: 0;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
}
.btn.is--state.is--blue, .btn.is--state.is--blue:active {
  background-color: #ffffff;
  border: 1px solid #1d6ceb;
  color: #1d6ceb;
}
.btn.is--state.is--white, .btn.is--state.is--white:active {
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  color: #353535;
}
.btn.is--state.active, .btn.is--state.active:active {
  background-color: #1d6ceb;
  color: #ffffff;
}
.btn.is--state.disabled, .btn.is--state.disabled:active, .btn.is--state:disabled, .btn.is--state:disabled:active {
  background-color: #f2f2f2;
  border-color: #dcdcdc;
  color: #bfbfbf;
  font-weight: 500;
}
.btn.is--text {
  display: flex;
  flex-direction: row;
  align-items: center;
  display: inline-flex;
  min-width: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  font-size: 14px;
  line-height: 20px;
}
.btn.is--text.sub {
  min-height: auto;
  border-bottom: 1px solid #646464;
  color: #646464;
  font-size: 12px;
  line-height: 14px;
}
.btn.is--file {
  padding: 7px 8px;
  padding-right: 13px;
}
.btn.is--file.has--ico {
  justify-content: start;
  padding-top: 5px;
  padding-bottom: 5px;
}
.btn.is--file.has--ico :not([class*=is--px]) {
  padding-left: 5px;
  padding-right: 13px;
}
.btn.is--file.has--ico [class*=ico-] {
  margin-left: 0;
  margin-right: 7px;
}
.btn.is--px0 {
  padding-right: 0px;
  padding-left: 0px;
}
.btn.is--px25 {
  padding-right: 25px;
  padding-left: 25px;
}
.btn.is--w75 {
  width: 75px;
  padding-right: 11px;
  padding-left: 11px;
}
.btn.is--w120 {
  width: 120px;
}
.btn.is--w160 {
  width: 160px;
}
.btn.is--w220 {
  width: 220px;
}
.btn.is--w300 {
  width: 300px;
}
.btn.is--w328 {
  width: 328px;
}
.btn.is--full {
  width: 100%;
}
.btn.has--ico [class*=ico-] {
  margin-left: -8px;
}

.input-text {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.input-text input,
.input-text textarea {
  display: block;
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #dcdcdc;
  border-radius: 2px;
  color: #353535;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  outline: none;
  resize: none;
}
.input-text input::placeholder,
.input-text textarea::placeholder {
  color: #c4c4c4;
}
.input-text input::-moz-placeholder,
.input-text textarea::-moz-placeholder {
  color: #c4c4c4;
}
.input-text input::-webkit-input-placeholder,
.input-text textarea::-webkit-input-placeholder {
  color: #c4c4c4;
}
.input-text input:focus:not(:disabled),
.input-text textarea:focus:not(:disabled) {
  border-color: #1d6ceb;
}
.input-text input:disabled,
.input-text textarea:disabled {
  background-color: #f2f2f2;
  border-color: #dcdcdc;
  color: #bfbfbf;
}
.input-text .box {
  position: relative;
  width: 100%;
  height: 100%;
}
.input-text .box.has--button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}
.input-text .box.has--button input {
  position: relative;
  width: 100%;
  z-index: 5;
}
.input-text .box.has--button.single input {
  padding-right: 47px;
}
.input-text .box.has--button.double input {
  padding-right: 78px;
}
.input-text .box.has--timer {
  position: relative;
}
.input-text .box.has--timer .box input {
  padding-right: 70px;
}
.input-text .box.has--timer .find-time {
  position: absolute;
  top: 50%;
  right: 16px;
  color: #1d6ceb;
  font-size: 16px;
  line-height: 19px;
  transform: translateY(-50%);
}
.input-text .box input {
  height: 100%;
}
.input-text .box input:focus:not(:disabled) + .input-btn .pw-action.show {
  background-image: url("../images/ico/pw-on-blue.svg");
}
.input-text .box input:focus:not(:disabled) + .input-btn .pw-action.hide {
  background-image: url("../images/ico/pw-off-blue.svg");
}
.input-text .box input:focus:not(:disabled) + .input-btn .pw-search {
  background-image: url("../images/ico/search-blue.svg");
}
.input-text .box input:disabled + .input-btn .pw-action.show {
  background-image: url("../images/ico/pw-on-gray.svg");
}
.input-text .box input:disabled + .input-btn .pw-action.hide {
  background-image: url("../images/ico/pw-off-gray.svg");
}
.input-text .box input:disabled + .input-btn .pw-search {
  background-image: url("../images/ico/search-gray.svg");
}
.input-text .box input:disabled + .date-button {
  background-image: url("../images/ico/calendar-gray.svg");
}
.input-text .box .input-btn,
.input-text .box .date-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  gap: 7px;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  z-index: 10;
}
.input-text .box .input-btn button:not([class*=ico-]),
.input-text .box .input-btn a:not([class*=ico-]),
.input-text .box .date-button button:not([class*=ico-]),
.input-text .box .date-button a:not([class*=ico-]) {
  width: 24px;
  height: 24px;
}
.input-text .box .input-btn .pw-action.show,
.input-text .box .date-button .pw-action.show {
  background-image: url("../images/ico/pw-on-black.svg");
}
.input-text .box .input-btn .pw-action.hide,
.input-text .box .date-button .pw-action.hide {
  background-image: url("../images/ico/pw-off-black.svg");
}
.input-text .box .input-btn .pw-remove:not([class*=ico-]),
.input-text .box .date-button .pw-remove:not([class*=ico-]) {
  width: 20px;
  height: 20px;
  background-image: url("../images/ico/remove-gray.svg");
  background-size: 20px;
}
.input-text .box .input-btn .pw-search:not([class*=ico-]),
.input-text .box .date-button .pw-search:not([class*=ico-]) {
  width: 28px;
  height: 28px;
  background-image: url("../images/ico/search-black.svg");
  background-size: 28px;
}
.input-text .valid,
.input-text .desc {
  display: none;
  font-size: 15px;
  line-height: 18px;
}
.input-text .desc {
  display: block;
  color: #7f7f7f;
}
.input-text.pass input:not(:disabled), .input-text.focus input:not(:disabled) {
  border-color: #1d6ceb;
}
.input-text.err input:not(:disabled) {
  border-color: #ff4555;
}
.input-text.disabled input {
  background-color: #f2f2f2;
  border-color: #dcdcdc;
}
.input-text.disabled input + .pw.show {
  background-image: url("../images/ico/pw-on-gray.svg");
}
.input-text.disabled input + .pw.hide {
  background-image: url("../images/ico/pw-off-gray.svg");
}
.input-text.pass .valid, .input-text.err .valid {
  display: block;
}
.input-text.pass .valid {
  color: #1d6ceb;
}
.input-text.err .valid {
  color: #ff4555;
}
.input-text.err .box.date input {
  color: #ff4555;
}
.input-text.err .date-button {
  background-image: url("../images/ico/calendar-red.svg");
}
.input-text.is--large .box.has--button.single input {
  padding-right: 50px;
}
.input-text.is--large .box.has--button.double input {
  padding-right: 84px;
}
.input-text.is--large .box .pw-btn {
  right: 16px;
  gap: 10px;
}
.input-text.is--large .box .pw-btn button,
.input-text.is--large .box .pw-btn a {
  width: 24px;
  height: 24px;
}
.input-text.is--large .box .pw-btn .pw-remove {
  width: 20px;
  height: 20px;
  background-image: url("../images/ico/remove-gray.svg");
  background-size: 20px;
}
.input-text.is--large .box input {
  min-height: 50px;
  padding-right: 16px;
  padding-left: 16px;
  font-size: 18px;
  line-height: 21px;
}
.input-text.is--w160 {
  flex-shrink: 0;
  flex-grow: 0;
  width: 160px;
}
.input-text.is--w245 {
  flex-shrink: 0;
  flex-grow: 0;
  width: 245px;
}
.input-text.is--wauto {
  flex-shrink: 1;
  flex-grow: 1;
}
.input-text.is--h120 {
  height: 120px;
}
.input-text.is--h120 textarea {
  height: 100%;
}
.input-text.date-layer {
  position: relative;
  z-index: 10;
}
.input-text.date-layer .box,
.input-text.date-layer .box input {
  cursor: pointer;
}
.input-text.date-layer .box input {
  padding-right: 29px;
}
.input-text.date-layer .box .date-button {
  right: 5px;
}
.input-text.date-layer .box.bg--white input:disabled {
  background-color: #ffffff;
}
.input-text.date-layer .datepicker--layer {
  position: fixed;
  width: 360px;
  top: 100%;
  left: 0;
  margin-top: 4px;
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  z-index: 10;
}
*:hover .datepicker--layer {
  z-index: 50;
}

.input-text.date-layer .datepicker--layer .datepicker {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 41px;
}
.input-text.date-layer .datepicker--layer .datepicker--title {
  padding-right: 20px;
  padding-left: 20px;
}
.input-text.date-layer .calendar--timer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 26px 20px;
  border-top: 1px solid #dcdcdc;
}
.input-text.date-layer .calendar--timer .calendar--timer__date span,
.input-text.date-layer .calendar--timer .calendar--timer__date strong {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}
.input-text.date-layer .calendar--timer .calendar--timer__date strong {
  color: #1d6ceb;
  font-weight: 600;
}
.input-text.date-layer .calendar--timer .calendar--timer__date .day {
  color: #353535;
}
.input-text.date-layer .calendar--timer .calendar--timer__date .year {
  color: #646464;
}
.input-text.date-layer .calendar--timer .calendar--timer__times {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  position: relative;
  width: 114px;
  padding: 5px;
  padding-left: 10px;
  border: 1px solid #dcdcdc;
  border-radius: 2px;
}
.input-text.date-layer .calendar--timer .calendar--timer__times::after {
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  right: 4px;
  background-image: url("../images/ico/clock-black.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  content: "";
}
.input-text.date-layer .calendar--timer .calendar--timer__times .times__devider {
  width: 12px;
  text-align: center;
}
.input-text.date-layer .calendar--timer .dropdown--area .dropdown--box {
  left: -9px;
}
.input-text.date-layer .calendar--timer .dropdown--area.open .dropdown--select {
  border: 1px solid #1d6ceb;
  border-radius: 2px;
  color: #1d6ceb;
}
.input-text.date-layer .calendar--timer .dropdown--area:first-child .dropdown--box {
  left: -11px;
}
.input-text.date-layer .calendar--timer .dropdown--select {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  width: 20px;
  height: 20px;
  padding: 0;
  color: #353535;
  font-size: 14px;
  letter-spacing: -0.5px;
}
.input-text.date-layer .calendar--timer .dropdown--select::after {
  display: none;
}
.input-text.date-layer .calendar--timer .dropdown--box {
  overflow: hidden;
  overflow-y: auto;
  width: 40px;
  max-height: 140px;
  margin-top: 10px;
}
.input-text.date-layer .calendar--timer .dropdown--box button {
  padding: 0;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
.input-desc {
  color: #353535;
  font-size: 14px;
  line-height: 17px;
}
.input-sub {
  color: #bfbfbf;
  font-size: 14px;
  line-height: 17px;
}
.input-checkbox .input-text {
  align-items: center;
}
.input-toggle {
  position: relative;
}
.input-toggle input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 10;
}
.input-toggle input + .input-text .icon::after {
  right: auto;
  left: 0;
}
.input-toggle input:checked + .input-text .icon::after {
  right: 0;
  left: auto;
}
.input-toggle input:checked:not(:disabled) + .input-text .icon {
  background-color: #1d6ceb;
}
.input-toggle input:disabled + .input-text .icon {
  background-color: #f2f2f2;
}
.input-toggle .input-text {
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 6px;
  z-index: 5;
}
.input-toggle .input-text .icon {
  flex-shrink: 0;
  flex-grow: 0;
  position: relative;
  width: 50px;
  height: 24px;
  background-color: #262626;
  border-radius: 24px;
}
.input-toggle .input-text .icon::after {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  margin-top: 2px;
  margin-right: 2px;
  margin-left: 2px;
  background-color: #ffffff;
  border-radius: 20px;
  content: "";
}
.input-toggle .input-text .text {
  color: #353535;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.input-toggle.on--text input:checked:not(:disabled) + .input-text .text {
  color: #1d6ceb;
}
.input-toggle.on--text .input-text .text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
.input-radio .input-text {
  align-items: center;
}
.input-box {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: start;
  gap: 6px;
}
.input-box > div:not([class*="--fixed"]),
.input-box > p:not([class*="--fixed"]),
.input-box > input:not([class*="--fixed"]) {
  flex-shrink: 1;
  flex-grow: 1;
  min-height: 34px;
}
.input-box--fixed {
  flex-shrink: 0;
  flex-grow: 0;
}
.input-box--fixed.is--w75 {
  width: 75px;
}
.input-box--title {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 34px;
  margin-right: 16px;
  color: #353535;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  white-space: nowrap;
}
.input-box--title.disabled {
  color: #bfbfbf;
}
.input-box.is--large {
  min-height: 50px;
}
.input-box.is--large .input--title {
  min-height: 50px;
}
.input-box.is--large .input-text .box input,
.input-box.is--large .btn {
  height: 50px;
  font-size: 18px;
  line-height: 21px;
}
.input-box.is--double {
  display: grid;
  grid-template-columns: 1fr 17px 1fr;
  gap: 0;
  max-width: 100%;
}
.input-box.is--double .input-desc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #646464;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.input-box.is--triple {
  display: grid;
  grid-template-columns: 1fr 28px 1fr 28px 1fr;
  gap: 0;
  max-width: 100%;
}
.input-box.is--triple .input-desc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #353535;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.input-box.is--triple .btn.ml-6 {
  margin-left: 6px;
}
.input-box.disabled .input-box--title {
  color: #bfbfbf;
}
.input-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.box--white {
  background-color: #ffffff;
  border-radius: 4px;
}
.box--row {
  display: flex;
  flex-direction: row;
  display: inline-flex;
}
.box--column {
  display: flex;
  flex-direction: column;
  display: inline-flex;
}
.box--column.is--wfull {
  width: 100%;
}
.box--grid.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.box--grid.grid-5 {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
.box--between {
  justify-content: space-between;
}
.box--center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dropdown--select {
  position: relative;
  width: 100%;
  height: 34px;
  padding: 7.5px 9px;
  padding-right: 34px;
  border: 1px solid #dcdcdc;
  border-radius: 2px;
  text-align: left;
}
.dropdown--select span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  color: #353535;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  line-height: 17px;
}
.dropdown--select::after {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  background-image: url("../images/ico/combo-arrow-black.svg");
  content: "";
}
.dropdown--select:disabled {
  background-color: #f2f2f2;
}
.dropdown--select:disabled,
.dropdown--select:disabled span {
  color: #bfbfbf;
}
.dropdown--select:disabled::after {
  background-image: url("../images/ico/combo-arrow-gray.svg");
}
.dropdown--box {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0;
  position: absolute;
  display: none;
  width: 100%;
  top: 100%;
  left: 0;
  padding-top: 8px;
  padding-bottom: 12px;
  margin-top: 6px;
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 2px;
}
.dropdown--box > a,
.dropdown--box > button {
  padding: 7px 9px;
  color: #646464;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  line-height: 17px;
}
.dropdown--box > a:hover,
.dropdown--box > button:hover {
  background-color: #f6f6f6;
}
.dropdown--box > a.active,
.dropdown--box > button.active {
  color: #1d6ceb;
}
.dropdown--area {
  position: relative;
}
.dropdown--area .valid,
.dropdown--area .desc {
  display: none;
  margin-top: 6px;
  color: #ff4555;
  font-size: 13px;
  line-height: 16px;
}
.dropdown--area.open {
  z-index: 30;
}
.dropdown--area.open .dropdown--select {
  border-color: #1d6ceb;
}
.dropdown--area.open .dropdown--select::after {
  background-image: url("../images/ico/combo-arrow-blue.svg");
}
.dropdown--area.open .dropdown--box {
  display: flex;
}
.dropdown--area.pass .valid, .dropdown--area.err .valid {
  display: block;
}
.dropdown--area.is--small .dropdown--select {
  height: 26px;
  padding: 6px 9px;
  padding-right: 26px;
}
.dropdown--area.is--small .dropdown--select::after {
  width: 20px;
  height: 20px;
  right: 3px;
}
.dropdown--area.is--w245 {
  width: 245px;
}

.search--box {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0;
  border-bottom: 1px solid #dcdcdc;
}
.search--box.no--line {
  border-bottom: none;
}
.search--box.no--line + .tab--wrap {
  margin-top: 30px;
}
.search--box.no--line + .tab--wrap .tab-button {
  padding-right: 30px;
  padding-left: 30px;
}
.search--box.no--line + .tab--wrap .search--contents {
  padding-bottom: 20px;
}
.search--title {
  padding: 30px 30px 0;
  color: #000000;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
}
.search--contents {
  flex-wrap: nowrap;
  padding: 20px 30px 0;
}
.search--contents .input-text {
  flex-direction: row;
}
.search--contents .input-text .text {
  font-size: 16px;
  font-weight: 500;
}
.search--contents:last-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}
.search--contents.is--radio {
  display: flex;
  flex-direction: row;
  gap: 37px;
}
.search--items {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
}
.search--row {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
}
.search--row .input-box--title {
  min-width: 65px;
  margin-right: 6px;
  justify-content: flex-start;
}
.search--row .input-box--title.is--right {
  justify-content: flex-end;
}
.search--row .dropdown--area {
  width: 245px;
}
.search--row .dropdown--area.is--w144 {
  width: 114px;
}
.search--row > .input-box {
  width: 245px;
}
.search--row > .input-box.is--wauto {
  width: auto;
}
.search--row > .input-box .is--w245 {
  width: 245px;
}
.search--row > .checkbox-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 34px;
  padding-top: 8px;
  padding-bottom: 8px;
  gap: 30px;
  row-gap: 10px;
  flex-wrap: wrap;
}
.search--button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.tab-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0;
}
.tab-text button,
.tab-text a {
  width: 160px;
  height: 46px;
  padding-top: 2px;
  border-bottom: 2px solid #dcdcdc;
  color: #353535;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
.tab-text button.active,
.tab-text a.active {
  padding-top: 4px;
  border-bottom: 4px solid #1d6ceb;
  color: #1d6ceb;
  font-weight: 700;
}
.tab-button {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.tab-button button,
.tab-button a {
  width: 255px;
  height: 56px;
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  color: #000000;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}
.tab-button button:first-child,
.tab-button a:first-child {
  border-radius: 4px 0 0 4px;
}
.tab-button button:last-child,
.tab-button a:last-child {
  border-radius: 0 4px 4px 0;
}
.tab-button button:hover,
.tab-button a:hover {
  color: #1d6ceb;
}
.tab-button button.active,
.tab-button a.active {
  background-color: #1d6ceb;
  border-color: #1d6ceb;
  color: #ffffff;
}
.tab-button button + button, .tab-button button + a,
.tab-button a + button,
.tab-button a + a {
  margin-left: -1px;
}

.table--area {
  padding: 30px 30px 0;
}
.table--area .page--area {
  margin-top: 20px;
}
.table--top {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  margin-bottom: 20px;
}
.table--box {
  overflow-x: auto;
}
.table--box > table > thead > tr th {
  vertical-align: middle;
  position: relative;
  padding: 7px 8px;
  background-color: #f3f3f3;
  color: #353535;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.table--box > table > thead > tr th:not(:first-child)::before {
  position: absolute;
  width: 1px;
  height: 15px;
  top: 50%;
  left: 0;
  background-color: #e1e1e1;
  transform: translateY(-50%);
  content: "";
}
.table--box > table > thead > tr th.line--full {
  border-left: 1px solid #e1e1e1;
}
.table--box > table > thead > tr th.line--full::before {
  display: none;
}
.table--box > table > thead > tr th.line--none::before {
  display: none;
}
.table--box > table > thead > tr:first-child > th {
  border-top: 2px solid #e1e1e1;
}
.table--box > table > thead > tr + tr > th {
  border-top: 1px solid #e1e1e1;
}
.table--box > table > tbody > tr {
  position: relative;
  z-index: 5;
}
.table--box > table > tbody > tr > td {
  padding: 8px 12px;
  border-bottom: 1px solid #ebebeb;
  color: #353535;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.table--box > table > tbody > tr > td.is--date {
  padding: 1px 4px 2px;
}
.table--box > table > tbody > tr > td.has--bg {
  background-color: #fafafa;
}
.table--box > table > tbody > tr:hover > th,
.table--box > table > tbody > tr:hover > td {
  background-color: #eaf2fd;
}
.table--box > table > tbody > tr.is--checked > th,
.table--box > table > tbody > tr.is--checked > td {
  background-color: #d5e6fd;
}
.table--box > table > thead > tr > th,
.table--box > table > thead > tr > td,
.table--box > table > tbody > tr > th,
.table--box > table > tbody > tr > td {
  text-align: center;
}
.table--box > table > thead > tr > th.align-left,
.table--box > table > thead > tr > td.align-left,
.table--box > table > tbody > tr > th.align-left,
.table--box > table > tbody > tr > td.align-left {
  text-align: left;
}
.table--box > table > thead > tr > th.px0,
.table--box > table > thead > tr > td.px0,
.table--box > table > tbody > tr > th.px0,
.table--box > table > tbody > tr > td.px0 {
  padding-right: 0;
  padding-left: 0;
  text-align: center;
}
.table--box > table > thead > tr > th.px0 .input-checkbox,
.table--box > table > thead > tr > td.px0 .input-checkbox,
.table--box > table > tbody > tr > th.px0 .input-checkbox,
.table--box > table > tbody > tr > td.px0 .input-checkbox {
  vertical-align: middle;
  display: inline-block;
  margin-top: -2px;
}
.table--box > table > thead > tr.disabled > th,
.table--box > table > thead > tr.disabled > td,
.table--box > table > tbody > tr.disabled > th,
.table--box > table > tbody > tr.disabled > td {
  background-color: #fafafa;
  color: #bfbfbf;
}
.table__title {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}
.table__title.has--button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.table__title.has--button .table__title--left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.table__title.has--button .table__title--right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.table__filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 34px;
}
.table__filter--left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.table__filter--right {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.table__filter .has--devide {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.table__filter .has--devide .devide {
  width: 1px;
  height: 16px;
  background-color: #e1e1e1;
}
.table__filter .filter--text {
  color: #646464;
  font-size: 14px;
  line-height: 17px;
}
.table__filter .filter--devide {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.table__filter .filter--buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.table__filter .filter--buttons .btn {
  min-width: 90px;
}

.toggle--area.active .toggle--btn::after {
  transform: rotate(0);
}
.toggle--area.active .toggle--box {
  display: block;
}
.toggle--btn {
  position: relative;
  padding: 12px;
  padding-right: 48px;
  background-color: #666666;
  border-radius: 6px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
}
.toggle--btn::after {
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  top: 50%;
  right: 12px;
  margin-top: -12px;
  background-image: url("../images/ico/up-white.svg");
  transform: rotate(180deg);
  content: "";
}
.toggle--box {
  display: none;
  padding-top: 10px;
}
.toggle--box .table--area {
  padding: 0;
  margin-top: 10px;
}
.toggle--box .table--top {
  margin-bottom: 10px;
}
.toggle--box .table__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
.toggle--box .page--area {
  margin-top: 10px;
}

.edit--area {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.edit--box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
}
.edit--box.is--double {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
}
.edit--box.mt-10 {
  margin-top: 10px;
}
.edit--title {
  flex-shrink: 0;
  flex-grow: 0;
  width: 132px;
  padding: 8.5px 12px;
  padding-right: 0;
  color: #353535;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}
.edit--title.is--small {
  width: 90px;
}
.edit--title.is--sub {
  color: #646464;
}
.edit--title .imp {
  color: #ff4555;
}
.edit--contents {
  flex-shrink: 1;
  flex-grow: 1;
  padding: 8.5px 0;
  color: #646464;
  font-size: 14px;
  line-height: 17px;
}
.edit--contents .imp {
  color: #ff4555;
}
.edit--contents .checkbox-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 34px;
  padding-top: 8px;
  padding-bottom: 8px;
  gap: 40px;
  row-gap: 20px;
  flex-wrap: wrap;
}
.edit--contents .edit--box .edit--title {
  padding-right: 0;
  padding-left: 0;
}
.edit--contents[class*=gap] {
  display: flex;
  flex-direction: column;
}
.edit--contents.has--box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
}
.edit--contents.has--box.gap-20 {
  gap: 20px;
}
.edit--contents.has--check {
  justify-content: center;
  min-height: 34px;
}
.edit--contents.has--toggle {
  padding-top: 5px;
  padding-bottom: 5px;
}
.edit--contents.is--single {
  padding-left: 12px;
}
.edit--gap-36 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 36px;
}

.filebox {
  display: flex;
  flex-direction: row;
  align-items: center;
  display: inline-flex;
  gap: 10px;
}
.filebox .title {
  padding: 3px 8px;
  background-color: #b0b0b0;
  border-radius: 2px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
}
.filebox .text {
  border-bottom: 1px solid #646464;
  color: #646464;
  font-size: 12px;
  line-height: 14px;
}

.page--area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 69px;
}
.page--area > div {
  min-height: 34px;
}
.page--area .page {
  width: 26px;
  height: 26px;
}
.page--area .page.is--first {
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 2px;
  background-size: auto 10px;
  background-image: url("../images/ico/page-first-black.svg");
}
.page--area .page.is--first:disabled {
  background-image: url("../images/ico/page-first-gray.svg");
}
.page--area .page.is--first:hover:not(:disabled) {
  background-color: #eaf2fd;
}
.page--area .page.is--prev {
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 2px;
  background-size: auto 10px;
  background-image: url("../images/ico/page-prev-black.svg");
}
.page--area .page.is--prev:disabled {
  background-image: url("../images/ico/page-prev-gray.svg");
}
.page--area .page.is--prev:hover:not(:disabled) {
  background-color: #eaf2fd;
}
.page--area .page.is--next {
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 2px;
  background-size: auto 10px;
  background-image: url("../images/ico/page-next-black.svg");
}
.page--area .page.is--next:disabled {
  background-image: url("../images/ico/page-next-gray.svg");
}
.page--area .page.is--next:hover:not(:disabled) {
  background-color: #eaf2fd;
}
.page--area .page.is--last {
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 2px;
  background-size: auto 10px;
  background-image: url("../images/ico/page-last-black.svg");
}
.page--area .page.is--last:disabled {
  background-image: url("../images/ico/page-last-gray.svg");
}
.page--area .page.is--last:hover:not(:disabled) {
  background-color: #eaf2fd;
}
.page--area .page.is--num {
  color: #9b9fa8;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.page--area .page.is--num.active {
  color: #222427;
}
.page--area .page.is--num:disabled {
  background-color: transparent;
  color: #dcdcdc;
}
.page--area .dropdown--area {
  width: 103px;
}
.page--area .dropdown--area .dropdown--select {
  padding-right: 20px;
}
.page--center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.page--numberbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  min-width: 86px;
}
.layer--area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  display: none;
  z-index: 999;
}
.layer--area, .layer--area::after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.layer--area::after {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  content: "";
}
.layer--box {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  max-height: calc(100% - 30px);
  gap: 30px;
  padding: 30px 0;
  background-color: #ffffff;
  z-index: 10;
}
.layer--header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  min-height: 33px;
}
.layer--header__title,
.layer--header__title .title {
  color: #000000;
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
}
.layer--header__title .text {
  margin-top: 10px;
  color: #262626;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}
.layer--contents {
  overflow-y: auto;
  padding: 0 30px;
}
.layer--buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  padding: 20px 30px 10px;
}
.layer--buttons .btn {
  height: 44px;
}

/*!
 * Datepicker for Bootstrap v1.9.0 (https://github.com/uxsolutions/bootstrap-datepicker)
 *
 * Licensed under the Apache License v2.0 (http://www.apache.org/licenses/LICENSE-2.0)
 */
.datepicker {
  padding-right: 20px;
  padding-left: 20px;
}
.datepicker table {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.datepicker table td {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.datepicker table thead {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.datepicker table thead tr {
  padding-right: 15px;
  padding-left: 15px;
}
.datepicker table thead tr th.prev, .datepicker table thead tr th.next {
  flex-shrink: 0;
  flex-grow: 0;
  width: 25px;
  height: 25px;
  background-image: url("../images/ico/more-black.svg");
  cursor: pointer;
}
.datepicker table thead tr th.prev {
  transform: rotate(180deg);
}
.datepicker table thead tr th.datepicker-switch {
  flex-shrink: 1;
  flex-grow: 1;
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}
.datepicker table thead tr:nth-child(2) {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.datepicker table thead tr:nth-child(3) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 41px;
}
.datepicker table thead tr:nth-child(3) th {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 24px;
}
.datepicker-days table tbody {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 10px;
  gap: 22px;
}
.datepicker-days table tbody tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.datepicker-days table tbody tr td {
  width: 28px;
}
.datepicker-days table tbody tr td.day {
  width: 28px;
  height: 28px;
  color: #7f7f7f;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  border-radius: 28px;
}
.datepicker-days table tbody tr td.day.old, .datepicker-days table tbody tr td.day.new, .datepicker-days table tbody tr td.day.disabled {
  color: #dcdcdc;
}
.datepicker-days table tbody tr td.day.today {
  background-color: #1d6ceb;
  color: #ffffff;
}
.datepicker-days table tbody tr td.day:hover:not(.old, .disabled, .today), .datepicker-days table tbody tr td.day.active:not(.old, .disabled, .today), .datepicker-days table tbody tr td.day:hover:not(.new, .disabled, .today), .datepicker-days table tbody tr td.day.active:not(.new, .disabled, .today) {
  color: #1d6ceb;
  border: 1px solid #1d6ceb;
}
.datepicker-months table thead tr, .datepicker-years table thead tr {
  padding-right: 15px;
  padding-left: 15px;
}
.datepicker-months table tbody, .datepicker-years table tbody {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  margin-top: 38px;
}
.datepicker-months table tbody tr, .datepicker-years table tbody tr {
  display: block;
}
.datepicker-months table tbody tr td, .datepicker-years table tbody tr td {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 10px;
}
.datepicker-months table tbody tr td .month,
.datepicker-months table tbody tr td .year, .datepicker-years table tbody tr td .month,
.datepicker-years table tbody tr td .year {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 57px;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
}
.datepicker-months table tbody tr td .month.old, .datepicker-months table tbody tr td .month.disabled,
.datepicker-months table tbody tr td .year.old,
.datepicker-months table tbody tr td .year.disabled, .datepicker-years table tbody tr td .month.old, .datepicker-years table tbody tr td .month.disabled,
.datepicker-years table tbody tr td .year.old,
.datepicker-years table tbody tr td .year.disabled {
  color: #dcdcdc;
}
.datepicker-months table tbody tr td .month.today,
.datepicker-months table tbody tr td .year.today, .datepicker-years table tbody tr td .month.today,
.datepicker-years table tbody tr td .year.today {
  background-color: #1d6ceb;
  color: #ffffff;
}
.datepicker-months table tbody tr td .month:hover:not(.old, .disabled), .datepicker-months table tbody tr td .month.active:not(.old, .disabled),
.datepicker-months table tbody tr td .year:hover:not(.old, .disabled),
.datepicker-months table tbody tr td .year.active:not(.old, .disabled), .datepicker-years table tbody tr td .month:hover:not(.old, .disabled), .datepicker-years table tbody tr td .month.active:not(.old, .disabled),
.datepicker-years table tbody tr td .year:hover:not(.old, .disabled),
.datepicker-years table tbody tr td .year.active:not(.old, .disabled) {
  color: #1d6ceb;
  border: 1px solid #1d6ceb;
}
.datepicker-dropdown {
  position: absolute;
  width: 360px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 46px;
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
}
.datepicker--title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 16px;
}
.datepicker--title .title {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.datepicker--title .reset {
  color: #1d6ceb;
  font-size: 16px;
  line-height: 19px;
}
.datepicker--layer .datepicker-months table tr td,
.datepicker--layer .datepicker-years table tr td {
  padding-right: 20px;
  padding-left: 20px;
}
.datepicker.has--title {
  padding-top: 0;
}

/*---------------------------------------- LAYOUT ----------------------------------------*/
.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 1920px;
  background-color: #ebebeb;
}
.wrap.login {
  height: 100%;
  background-color: #ffffff;
}
.wrap.login .contents--box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrap.login .container,
.wrap.login .contents--box {
  height: 100%;
}
.wrap.set {
  background-color: #ffffff;
}

.container {
  padding: 8px;
}

/*--------------- HEADER ---------------*/
header {
  position: relative;
  min-height: 57px;
  padding-right: 25px;
  padding-left: 25px;
  z-index: 500;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .header__right, header .header__left {
  position: relative;
  height: 57px;
  z-index: 10;
}
header::before {
  position: absolute;
  width: 100%;
  height: 57px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-bottom: 1px solid #dcdcdc;
  z-index: 5;
  content: "";
}
header::after {
  position: absolute;
  display: none;
  width: 100%;
  height: 177px;
  top: 57px;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.15);
  z-index: 3;
  content: "";
}
header .header__left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .header__left .header__logo {
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 260px;
  gap: 8px;
}
header .header__left .header__logo .logo {
  width: 42px;
  height: 16px;
  background-image: url("../images/ico/logo-blue.svg");
}
header .header__left .header__logo .text {
  color: #1d6ceb;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}
header .header__left .header__menu {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 90px;
}
header .header__left .header__menu > a,
header .header__left .header__menu .depth1 > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 57px;
  padding: 2px 0;
  color: #000000;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  text-align: center;
}
header .header__left .header__menu > a.active,
header .header__left .header__menu .depth1 > a.active {
  border-bottom: 2px solid #1d6ceb;
}
header .header__left .header__menu .depth1 {
  position: relative;
}
header .header__right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
header .header__right--text {
  color: #646464;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
}
header .header__depth2 {
  display: flex;
  flex-direction: column;
  position: absolute;
  display: none;
  gap: 17px;
  padding-top: 26px;
}
header .header__depth2 a {
  color: #353535;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  white-space: nowrap;
}
header .header__depth2 a.active {
  color: #1d6ceb;
}
header.hover::after {
  display: block;
}
header.hover .header__depth2 {
  display: flex;
}

.v-top {
  vertical-align: top;
}