@use '../abstract/' as *;

.ico {
	@each $SIZE in $ICON-SIZE-ALL {
		&-#{$SIZE} {
			@extend %resetIcon;
			display: inline-block;
			width: #{$SIZE}px;
			height: #{$SIZE}px;
			flex-shrink: 0;
		}
	}
}

@each $TYPE, $COLOR-LIST in $IMAGE-SET-ALL {
	@each $COLOR, $URL-LIST in $COLOR-LIST {
		@each $NAME, $VALUE in $URL-LIST {
			@if $COLOR == 'png' {
				.#{$TYPE}-#{$NAME}-#{$COLOR} {
					background-image: url('../images/' + $TYPE + '/' + $NAME + '.' + $VALUE);
				}
			} @else if $COLOR != '' {
				.#{$TYPE}-#{$NAME}-#{$COLOR} {
					background-image: url('../images/' + $TYPE + '/' + $NAME + '-' + $COLOR + '.' + $VALUE);
				}
			} @else {
				.#{$TYPE}-#{$NAME} {
					background-image: url('../images/' + $TYPE + '/' + $NAME + '.' + $VALUE);
				}
			}
		}
	}
}

.btn {
	@include set-flex($INLINE: true, $JUSTIFY: center, $ALIGN: center);
	min-width: 75px;
	min-height: 34px;
	padding: 7.5px 11px;
	border: {
		width: 1px;
		style: solid;
		radius: 4px;
	}
	background-color: transparent;
	font-size: 14px;
	font-weight: $F-SB;
	line-height: 17px;
	outline: none;

	&.is {
		// Color
		&--blue {
			background-color: $C-PN;
			border-color: $C-PN;
			color: $C-W;
			&:active {
				background-color: $C-PD;
				border-color: $C-PD;
			}
			&:disabled {
				color: $C-FID;
				background-color: $C-BD;
				border-color: $C-BN;
			}
		}
		&--red {
			background-color: $C-SN;
			border-color: $C-SN;
			color: $C-W;
			&:active {
				background-color: $C-SD;
				border-color: $C-SD;
			}
			&:disabled {
				color: $C-FID;
				background-color: $C-BD;
				border-color: $C-BN;
			}
			&.has--ico {
			}
		}
		&--white {
			background-color: $C-W;
			border: 1px solid $C-BN;
			color: $C-FI;
			&:active {
				background-color: $C-BN;
				border-color: $C-BS;
			}
			&:disabled {
				color: $C-FID;
				background-color: $C-BD;
			}
			&.has--ico {
			}
		}

		// Type
		&--large {
			min-height: 44px;
			font-size: 18px;
			line-height: 21px;
		}
		&--search {
			@include set-flex($FIXED: true);
			width: 80px;
			height: 54px;
			font-weight: 500;
			font-size: 18px;

			[class*='ico-'] {
				$S: 22px;
				width: $S;
				height: $S;
				margin-right: 2px;
			}

			&.is--white {
				color: $C-FI;
			}
		}
		&--state {
			height: 60px;
			background-color: $C-W;
			font-size: 14px;
			line-height: 18px;
			font-weight: 600;

			&.is--blue {
				&,
				&:active {
					background-color: $C-W;
					border: 1px solid $C-PN;
					color: $C-PN;
				}
			}
			&.is--white {
				&,
				&:active {
					background-color: $C-W;
					border: 1px solid $C-BN;
					color: $C-FI;
				}
			}
			&.active {
				&,
				&:active {
					background-color: $C-PN;
					color: $C-W;
				}
			}

			&.disabled,
			&.disabled:active,
			&:disabled,
			&:disabled:active {
				background-color: $C-BD;
				border-color: $C-BN;
				color: $C-FID;
			}
		}

		// Width
		&--px25 {
			@include space(false, 25px, x);
		}
		&--w160 {
			width: 160px;
		}
		&--w220 {
			width: 220px;
		}
		&--w328 {
			width: 328px;
		}
		&--full {
			width: 100%;
		}
	}

	&.has--ico {
		[class*='ico-'] {
			margin-left: -8px;
		}
	}
}

.input {
	$EL: '.input';
	&-text {
		$PW: '.pw';
		$G: 7px;
		$S: 24px;
		$P: 7px;

		@include set-flex($DIRECTION: column);
		gap: 7px;

		input {
			display: block;
			width: 100%;
			padding: 8px 10px;
			border: 1px solid $C-BN;
			border-radius: 2px;
			color: $C-FI;
			font-size: 14px;
			line-height: 17px;
			font-weight: 400;
			outline: none;
			&::placeholder {
				color: $C-FP;
			}
			&::-moz-placeholder {
				color: $C-FP;
			}
			&::-webkit-input-placeholder {
				color: $C-FP;
			}

			&:focus:not(:disabled) {
				border-color: $C-PN;
			}

			&:disabled {
				background-color: $C-BD;
				border-color: $C-BN;
			}
		}

		.box {
			position: relative;
			width: 100%;
			height: 100%;

			// BUTTON
			&.has--button {
				@include set-flex($ALIGN: center);
				gap: $P;
				input {
					position: relative;
					width: 100%;
					z-index: 5;
				}

				&.single {
					input {
						padding-right: $S + $P + 16;
					}
				}
				&.double {
					input {
						padding-right: (($S + $P) * 2) + 16;
					}
				}
			}

			input {
				height: 100%;
				&:focus:not(:disabled) {
					& + #{$EL}-btn {
						#{$PW}-action {
							&.show {
								background-image: url(urlImg(ico, pw-on, blue));
							}
							&.hide {
								background-image: url(urlImg(
									ico,
									pw-off,
									blue
								));
							}
						}
						#{$PW}-search {
							background-image: url(urlImg(ico, search, blue));
						}
					}
				}

				&:disabled {
					& + #{$EL}-btn {
						#{$PW}-action {
							&.show {
								background-image: url(urlImg(ico, pw-on, gray));
							}
							&.hide {
								background-image: url(urlImg(
									ico,
									pw-off,
									gray
								));
							}
						}
						#{$PW}-search {
							background-image: url(urlImg(ico, search, gray));
						}
					}
				}
			}

			// TYPE
			#{$EL}-btn {
				@include set-flex($ALIGN: center);
				position: absolute;
				gap: $P;
				top: 50%;
				right: 10px;
				transform: translateY(-50%);
				z-index: 10;

				button:not([class*='ico-']),
				a:not([class*='ico-']) {
					@extend %resetIcon;
					width: $S;
					height: $S;
				}

				#{$PW}-action {
					&.show {
						background-image: url(urlImg(ico, pw-on));
					}
					&.hide {
						background-image: url(urlImg(ico, pw-of));
					}
				}
				#{$PW}-remove:not([class*='ico-']) {
					$S: 20px;
					width: $S;
					height: $S;
					background-image: url(urlImg(ico, remove, gray));
					background-size: $S;
				}
				#{$PW}-search:not([class*='ico-']) {
					width: $S + 8;
					height: $S + 8;
					background-image: url(urlImg(ico, search));
					background-size: $S + 8;
				}
			}
		}
		.valid,
		.desc {
			display: none;
			font-size: 15px;
			line-height: 18px;
		}

		.desc {
			display: block;
			color: $C-FM;
		}

		// TYPE
		&.pass,
		&.focus {
			input:not(:disabled) {
				border-color: $C-PN;
			}
		}

		&.err {
			input:not(:disabled) {
				border-color: $C-SN;
			}
		}

		&.disabled {
			input {
				background-color: $C-BD;
				border-color: $C-BN;
				& + #{$PW}.show {
					background-image: url(urlImg(ico, pw-on, gray));
				}
				& + #{$PW}.hide {
					background-image: url(urlImg(ico, pw-off, gray));
				}
			}
		}

		&.pass,
		&.err {
			.valid {
				display: block;
			}
		}

		&.pass {
			.valid {
				color: $C-PN;
			}
		}
		&.err {
			.valid {
				color: $C-SN;
			}
		}

		// SIZE
		&.is--large {
			$G: 7px;
			$S: 24px;
			$P: 10px;
			height: 50px;
			.box {
				// BUTTON
				&.has--button {
					&.single {
						input {
							padding-right: $S + $P + 16;
						}
					}
					&.double {
						input {
							padding-right: (($S + $P) * 2) + 16;
						}
					}
				}

				#{$PW}-btn {
					right: 16px;
					gap: $P;
					button,
					a {
						width: $S;
						height: $S;
					}
					#{$PW}-remove {
						width: $S - 4;
						height: $S - 4;
						background-image: url(urlImg(ico, remove, gray));
						background-size: $S - 4;
					}
				}

				input {
					padding-right: 16px;
					padding-left: 16px;
					font-size: 18px;
					line-height: 21px;
				}
			}
		}
	}
	&-checkbox {
		@extend %defaultInput;
		.input-text {
			align-items: center;
		}
	}
	&-toggle {
		position: relative;
		input {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			opacity: 0;
			z-index: 10;

			& + .input-text {
				.icon {
					&::after {
						right: auto;
						left: 0;
					}
				}
			}

			&:checked {
				& + .input-text {
					.icon {
						&::after {
							right: 0;
							left: auto;
						}
					}
				}
			}

			&:checked:not(:disabled) {
				& + .input-text {
					.icon {
						background-color: $C-PN;
					}
				}
			}

			&:disabled {
				& + .input-text {
					.icon {
						background-color: $C-BD;
					}
				}
			}
		}
		.input-text {
			@include set-flex();
			position: relative;
			gap: 6px;
			z-index: 5;
			.icon {
				$H: 24px;
				@include set-flex($FIXED: true);
				position: relative;
				width: 50px;
				height: $H;
				background-color: $C-IN;
				border-radius: $H;
				&::after {
					$CIRCLE: 20px;
					position: absolute;
					display: block;
					width: $CIRCLE;
					height: $CIRCLE;
					margin-top: 2px;
					margin-right: 2px;
					margin-left: 2px;
					background-color: $C-W;
					border-radius: $CIRCLE;
					content: '';
				}
			}
			.text {
				color: $C-FI;
				font-weight: 400;
				font-size: 14px;
				line-height: 17px;
			}
		}
	}
	&-radio {
		@extend %defaultInput;
		.input-text {
			align-items: center;
		}
	}

	&-box {
		@include set-flex($JUSTIFY: stretch, $ALIGN: stretch);
		gap: 6px;

		div:not([class*='--fixed']),
		p:not([class*='--fixed']),
		input:not([class*='--fixed']) {
			@include set-flex($FIXED: false);
		}

		&--fixed {
			@include set-flex($FIXED: true);
		}

		&--title {
			@include set-flex($ALIGN: center);
			margin-right: 16px;
			color: $C-FI;
			font-size: 14px;
			font-weight: $F-SB;
			line-height: 20px;
		}

		&.is {
			// size
			&--large {
				height: 50px;
			}
			&--double {
				@include set-grid($TEMPLATE: auto 17px auto);
				gap: 0;
				max-width: 100%;
				.input-desc {
					@include set-flex($JUSTIFY: center, $ALIGN: center);
					color: $C-FIS;
					font-size: 14px;
					font-weight: $F-SB;
					line-height: 20px;
				}
			}
		}

		// disabled
		&.disabled {
			#{$EL}-box--title {
				color: $C-FID;
			}
		}
	}
}

$DROP: '.dropdown';
.dropdown {
	&--select {
		$S: 24px;

		position: relative;
		width: 100%;
		height: 34px;
		padding: 7.5px 9px;
		padding-right: $S + 10px;
		border: 1px solid $C-BN;
		border-radius: 2px;
		span {
			@include ellipsis();
			display: block;
			color: $C-FI;
			font-size: 14px;
			font-weight: $F-N;
			text-align: left;
			line-height: 17px;
		}

		&::after {
			@extend %resetIcon;
			position: absolute;
			width: $S;
			height: $S;
			top: 50%;
			right: 5px;
			transform: translateY(-50%);
			background-image: url(urlImg(ico, combo-arrow));
			content: '';
		}

		&:disabled {
			background-color: $C-BD;
			&,
			span {
				color: $C-FID;
			}

			&::after {
				background-image: url(urlImg(ico, combo-arrow, gray));
			}
		}
	}
	&--box {
		@include set-flex($DIRECTION: column, $ALIGN: stretch);
		gap: 0;
		position: absolute;
		display: none;
		width: 100%;
		top: 100%;
		left: 0;
		padding-top: 8px;
		padding-bottom: 12px;
		margin-top: 6px;
		background-color: $C-W;
		border: 1px solid $C-BN;
		border-radius: 2px;
		> a,
		> button {
			padding: 7px 9px;
			color: $C-FIS;
			font-size: 14px;
			font-weight: $F-N;
			text-align: left;
			line-height: 17px;
			&:hover {
				background-color: $C-BH;
			}
			&.active {
				color: $C-PN;
			}
		}
	}

	&--area {
		position: relative;

		&.open {
			z-index: 30;
			#{$DROP}--select {
				border-color: $C-PN;
				&::after {
					background-image: url(urlImg(ico, combo-arrow, blue));
				}
			}
			#{$DROP}--box {
				display: flex;
			}
		}
	}
}

.search {
	$PB: 30px;
	&--box {
		@include set-flex($DIRECTION: column, $ALIGN: stretch);
		gap: 0;
		border-bottom: 1px solid $C-TLN;
	}
	&--title {
		padding: $PB $PB 0;
		color: $C-B;
		font-size: 22px;
		font-weight: $F-EB;
		line-height: 26px;
	}
	&--contents {
		flex-wrap: nowrap;
		padding: 20px $PB 0;

		&:last-child {
			@include set-flex($JUSTIFY: space-between, $ALIGN: center);
			padding-bottom: $PB;
		}

		.input-text {
			flex-direction: row;
			.text {
				font-size: 16px;
				font-weight: $F-SB;
			}
		}
	}
	&--items {
		@include set-flex($ALIGN: flex-start);
		gap: 40px;
	}
	&--row {
		@include set-grid($TEMPLATE: auto 1fr);
		gap: 10px;
		.input-box {
			&--title {
				margin-right: 6px;
				justify-content: flex-end;
			}
		}

		> .input-box {
			width: 245px;
		}
	}
}

.tab {
	&-text {
		@include set-flex($ALIGN: center);
		gap: 0;
		button,
		a {
			width: 160px;
			height: 46px;
			padding-top: 2px;
			border-bottom: 2px solid $C-BN;
			color: $C-FI;
			font-size: 20px;
			font-weight: $F-SB;
			line-height: 24px;

			&.active {
				padding-top: 4px;
				border-bottom: 4px solid $C-PN;
				color: $C-PN;
				font-weight: $F-EB;
			}
		}
	}
}

.layer {
	&--area {
		@include set-flex($JUSTIFY: center, $ALIGN: center);
		z-index: 999;

		&,
		&::after {
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
		&::after {
			background-color: transparentize($color: $C-B, $amount: 0.5);
			z-index: 5;
			content: '';
		}
	}
	&--box {
		@include set-flex($DIRECTION: column, $ALIGN: stretch);
		gap: 30px;
		position: relative;
		padding: 30px;
		background-color: $C-W;
		z-index: 10;
	}
	&--header {
		@include set-flex($JUSTIFY: space-between, $ALIGN: center);
		&__title {
			color: $C-B;
			font-size: 22px;
			font-weight: $F-EB;
			line-height: 33px;
		}
		&__close {
		}
	}
	&--contents {
	}
	&--buttons {
		@include set-flex($JUSTIFY: center);
		padding-top: 20px;
		padding-bottom: 10px;
		.btn {
			height: 44px;
		}
	}
}
