// grayscale
$C-W: #ffffff;
$C-B: #000000;

// Primary
$C-PN: #1d6ceb; // normal
$C-PD: #005ba5; // dark
$C-PC: #004098; // CI

// secondary
$C-SN: #ff4555; // normal
$C-SL: #ff312c; // Look&feel
$C-SD: #cc3744; // dark

// font
$C-FT: #000000; // title
$C-FI: #353535; // input
$C-FIS: #646464; // input_sub/label
$C-FM: #7f7f7f; // tab menu
$C-FID: #bfbfbf; // input_disabled
$C-FP: #c4c4c4; // place holder

// icon
$C-IN: #262626; // normal
$C-IL: #c4c4c4; // light

// box
$C-BN: #dcdcdc; // border_normal
$C-BS: #b0b0b0; // border_hover, Selected
$C-BH: #f6f6f6; // bG_hover
$C-BD: #f2f2f2; // bG_disabled

// table
$C-TB: #ebebeb; // BG_Column
$C-TH: #ddf0ff; // Hover
$C-TS: #bbe0ff; // Selected
$C-TLN: #dcdcdc; // Line_Normal
$C-TLB: #353535; // Line_Bottom

// scroll
$C-SB: #cccccc; // scroll_bar
$C-SLL: #dcdcdc; // Line_light
$C-SLD: #353535; // Line_Dark
$C-SW: #ebebeb; // bG_Window

// BG
$C-BT: #fafafa; // Templates
$C-BF: #f0f0f0; // Look&Feel
