@use 'variable' as *;

// 사이트 내 사용되는 이미지파일
$IMAGE-SET-ALL: (
	ico: (
		'black': (
			search: svg,
			pw-off: svg,
			pw-on: svg,
			combo-arrow: svg,
			calendar: svg,
			arrow-right: svg,
			more: svg,
			page-first: svg,
			page-last: svg,
			page-prev: svg,
			page-next: svg,
		),
		'blue': (
			product-name: svg,
			logo-family: svg,
			logo: svg,
			pw-on: svg,
			pw-off: svg,
			combo-arrow: svg,
			calendar: svg,
			arrow-right: svg,
			more: svg,
		),
		'gray': (
			search: svg,
			logo: svg,
			checkbox: svg,
			remove: svg,
			pw-on: svg,
			pw-off: svg,
			combo-arrow: svg,
			calendar: svg,
			arrow-right: svg,
			more: svg,
			page-first: svg,
			page-last: svg,
			page-prev: svg,
			page-next: svg,
		),
		'red': (
			pw-on: svg,
			pw-off: svg,
			combo-arrow: svg,
			calendar: svg,
			arrow-right: svg,
			more: svg,
		),
		'white': (
			logo: svg,
			search: svg,
			checkbox: svg,
			calendar: svg,
			arrow-right: svg,
			more: svg,
		),
		'': (
			logo-symbol1: svg,
			logo-symbol2: svg,
		),
	),
);

//  사용되는 아이콘 사이즈
$ICON-SIZE-ALL: (24, 22);
